# Py ignored files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# IntelliJ, IDEA, PyCharm
/out/
.idea/
.idea_modules/

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# DS Store files
*.DS_Store

# Config
.env*
